$background: #f2f3f7;
$white: #ffffff;
$white-50: #e8efff;
$black: #000000;
$blue-50: #dde4f7;
$black-100: #1a2030;
$blue-100: #1d5bfb;
$blue-200: #8faaf0;
$green-50: #d0ffd6;
$green-100: #00c74f;
$gray-100: #8b8b8b;
$gray-150: #c9c9cc;
$gray-200: #d1d1d1;
$gray-250: #d9d9d9;
$gray-300: #4f4f4f;
$red-400: #d44325;

$blue-hover: #1643b6;
$green-hover: #00732d;