@media screen and (max-width: 1232px) {
  .user-announcements {
    padding-bottom: 16px;
    .page__title {
      display: none;
    }
  }
  .profile {
    &__block {
      margin-top: 16px;
      h2 {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 16px;
      }
    }
  }
}