.breadcrumbs {
  margin-top: 24px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    li {
      color: $gray-100;
      a {
        font-size: 14px;
        line-height: 17px;
        border-bottom: 1px solid transparent;
        transition: color 0.3s;
        will-change: color;
        &:hover {
          color: $blue-100;
        }
      }
    }
    span {
      font-size: 14px;
      line-height: 17px;
    }
    p {
      font-size: 14px;
      line-height: 17px;
    }
  }
}

@media screen and (max-width: 1232px) {
  .breadcrumbs {
    margin-top: 10px;
    &__list {
      li {
        display: flex;
        align-items: center;
        a {
          font-size: 12px;
          line-height: 14px;
        }
      }
      span {
        font-size: 12px;
        line-height: 14px;
      }
      p {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}