.category {
  &__title {
    margin-top: 20px;
  }
  &__wrapper {
    display: grid;
    gap: 9px;
    grid-template-columns: 313px 1fr;
    margin-top: 11px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1232px) {
  .category {
    &__title {
      margin-top: 8px;
    }
    &__wrapper {
      grid-template-columns: 1fr;
      margin-top: 0;
    }
  }
}