.category__popup {
  display: none;
  position: fixed;
  padding: 16px 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: $white;
  z-index: 10001;
  input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
  &__main {
    margin-top: 14px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    &.active {
      img {
        transform: rotate(180deg);
      }
      .category__popup__name {
        color: $blue-100;
      }
    }
    img {
      transition: 0.3s;
    }
  }
  &__subblock {
    display: none;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    .category__popup__name {
      margin-top: 8px;
      color: $gray-300;
      &.active {
        color: $blue-100;
      }
    }
  }
  &__name {
    font-size: 20px;
    line-height: 30px;
    padding: 5px 0;
    display: block;
  }
}