.categories {
  margin-top: 24px;
  &__wrapper {
    background-color: $white;
    padding: 24px;
    border-radius: 6px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    margin-top: 12px;
  }
  &__link {
    display: none;
  }
}

@media screen and (max-width: 1232px) {
  .categories {
    margin-bottom: 48px;
    &__items {
      gap: 17px;
      flex-wrap: nowrap;
      height: 86px;
      overflow-x: auto;
      min-width: 343px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &__wrapper {
      padding: 0;
      background-color: transparent;
    }
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .page__title {
      font-size: 24px;
      line-height: 24px;
    }
    &__link {
      display: block;
      font-size: 12px;
      line-height: 12px;
      color: $blue-100;
    }
  }
}