.popup__delete {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 310px;
  height: 200px;
  padding: 16px;
  border-radius: 8px;
  background-color: $white;
  z-index: 3502;
  .settings {
    &__button {
      margin-top: 0;
      width: 100%;
      &-delete {
        background-color: $red-400;
        color: $white;
      }
    }
    &__popup {
      &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
      }
      &__buttons {
        margin-top: 0;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}