.edit__messages,
.edit__cards {
  padding: 16px 24px;
  border-radius: 6px;
  background-color: $white;
  position: fixed;
  z-index: 21;
  bottom: 0;
  margin-bottom: 134px;
  width: 905px;
  display: none;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $blue-100;
  &.active {
    display: flex;
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__count {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  &__button {
    border: 1px solid $blue-100;
    border-radius: 6px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: border-color 0.3s;
    will-change: border-color;
    span {
      color: $blue-100;
      font-size: 16px;
      line-height: 24px;
      transition: color 0.3s;
      will-change: color;
    }
    &:hover {
      border-color: $blue-hover;
      span {
        color: $blue-hover;
      }
    }
  }
}

@media screen and (max-width: 1232px) {
  .edit__cards.active {
    display: none;
  }
}