.errorPage {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
  }
  &__block {
    max-width: 507px;
    margin: 0 auto;
    text-align: center;
  }
  h1 {
    font-size: 240px;
    line-height: 288px;
    font-weight: 600;
    color: $blue-100;
  }
  span {
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    margin-top: 8px;
    color: $blue-100;
  }
  p {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    margin-top: 24px;
    a {
      color: $blue-100;
      transition: color 0.3s;
      will-change: color;
      &:hover {
        color: $blue-hover;
      }
    }
  }
}

@media screen and (max-width: 1232px) {
  .errorPage {
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 72px);
    }
    h1 {
      font-size: 120px;
      line-height: 144px;
    }
    span {
      font-size: 28px;
      line-height: 42px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}