.grid-categories {
  &__grid {
    display: grid;
    gap: 8.5px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 12px;
    .card {
      grid-column: span 1 / span 1;
    }
    &.active {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 12px;
      .card {
        padding-right: 40px;
        display: flex;
        gap: 12px;
        &.card-label {
          padding-right: 0;
        }
        label {
          .card__content {
            grid-template-columns: 242px 1fr;
            align-items: flex-start;
            margin-top: 6px;
            .card__left {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;
            }
          }
        }
        &__user {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
        &__content {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
          width: 100%;
          margin-top: 6px;
        }
        &__left {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
        }
        &__description {
          display: block;
        }
        &__favorite {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
  & + .profile__block {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1232px) {
  .grid-categories__grid.active {
    .card {
      label {
        .card__content {
          grid-template-columns: 1fr;
        }
      }
    }
  }
  .page-my-post,
  .page-messages {
    .grid-categories__grid.active .card__description {
      display: none;
    }
  }
  .page-favorites,
  .page-category {
    .profile__title,
    .page__title {
      display: block;
    }
    .grid-categories {
      display: flex;
      flex-direction: column;
      .selected__category {
        order: 1;
        margin-bottom: 8px;
        &:has(div) {
          margin-top: 0;
        }
      }
      .sorting {
        order: 2;
        padding: 0;
        &__filter {
          border: none;
          padding: 0;
        }
      }
      .grid-categories__grid {
        order: 3;
        &.active {
          .card {
            padding-right: 16px;
            &__content {
              margin-top: 0;
              display: flex;
            }
            &__description {
              display: none;
            }
            &__user {
              display: none;
            }
            &__img {
              max-height: 115px;
              min-height: 115px;
              max-width: 115px;
              min-width: 115px;
            }
          }
        }
      }
      .more__button {
        order: 4;
      }
    }
  }
  .grid-categories {
    &__grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 8px;
    }
  }
}