.header {
  height: 88px;
  background-color: $white;
  padding: 24px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2600;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    padding: 6px 0;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  &__localization {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__translate {
    padding: 2.5px 2px;
    display: flex;
    align-items: center;
    gap: 4px;
    span {
      color: $blue-100;
      font-size: 16px;
      line-height: 19px;
    }
    &__icon {
      will-change: transform;
      transition: transform 0.3s;
    }
    &.active {
      .header__translate__icon {
        transform: rotate(180deg);
      }
    }
  }
  &__geo {
    position: relative;
    &__current {
      padding: 8px 12px;
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        font-size: 16px;
        line-height: 19px;
        transition: color 0.3s;
        will-change: color;
      }
      &:hover {
        span {
          color: $blue-hover;
        }
      }
    }
  }
  &__registration {
    padding: 10.5px 0;
    color: $black;
    font-size: 16px;
    line-height: 19px;
  }
  &__user {
    display: none;
    align-items: center;
    gap: 8px;
    padding: 4px;
    span {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
    }
    &__photo {
      border-radius: 82px;
      width: 32px;
      height: 32px;
    }
    &__icon {
      will-change: transform;
      transition: transform 0.3s;
    }
    &.active {
      .header__user__icon {
        transform: rotate(180deg);
      }
    }
  }
  &__submit {
    background-color: $blue-100;
    border-radius: 6px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s;
    will-change: background-color;
    &:hover {
      background-color: $blue-hover;
    }
    span {
      font-size: 16px;
      line-height: 24px;
      color: $white;
    }
    img {
      padding: 6px;
    }
  }
  &__languages {
    display: none;
    position: absolute;
    top: 64px;
    width: 81px;
    height: 123px;
    padding: 10px 0;
    background: $white;
    border: 1px solid rgba(139, 139, 139, 0.4);
    box-shadow: 0px 2px 27px rgba(180, 180, 180, 0.25);
    border-radius: 6px;
    &.active {
      display: block;
    }
  }
  &__language {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    will-change: background-color;
    &:hover {
      background-color: rgba(29, 91, 251, 0.1);
    }
    span {
      font-size: 14px;
      line-height: 17px;
    }
  }
  &__search {
    display: none;
    position: absolute;
    top: 43px;
    width: 273px;
    height: 192px;
    background: $white;
    border: 1px solid rgba(139, 139, 139, 0.4);
    border-radius: 6px;
    &.active {
      display: block;
    }
    &__countries {
      margin-bottom: 12px;
    }
    &__country {
      font-size: 14px;
      line-height: 17px;
      padding: 8px 0 8px 16px;
      background-color: $white;
      transition: background-color 0.3s;
      will-change: background-color;
      cursor: pointer;
      &:hover {
        color: $blue-100;
        background-color: rgba(29, 91, 251, 0.1);
      }
    }
    &__icon {
      position: absolute;
      left: 12px;
    }
    &__input {
      background-color: $white;
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      input {
        padding: 0 12px 0 52px;
        font-size: 14px;
        line-height: 17px;
        color: $black-100;
        height: 40px;
        width: 100%;
        border: 1px solid $blue-100;
        border-radius: 6px;
        outline: none;
      }
    }
    &__block {
      display: flex;
      align-items: center;
      position: relative;
      padding: 4px;
      border-bottom: 1px solid rgba(139, 139, 139, 0.4);
    }
  }
  &__login {
    position: relative;
    &.logged {
      .header__user {
        display: flex;
      }
      .header__registration {
        display: none;
      }
    }
  }
  &__profile {
    display: none;
    position: absolute;
    top: 44px;
    width: 300px;
    border: 1px solid rgba(139, 139, 139, 0.4);
    box-shadow: 0px 2px 27px rgba(180, 180, 180, 0.25);
    border-radius: 6px;
    padding: 12px 0;
    background: $white;
    &.active {
      display: block;
    }
    &__rating {
      padding: 8px 0 8px 16px;
    }
    &__item {
      padding: 8px 0 8px 16px;
      display: flex;
      align-items: center;
      transition: color 0.3s, background-color 0.3s;
      will-change: color, background-color;
      &:hover {
        color: $blue-100;
        background-color: rgba(29, 91, 251, 0.1);
      }
      &-gray {
        border-top: 1px solid rgba(139, 139, 139, 0.4);
        &:hover .header__profile__name {
          color: $black-100;
        }
        .header__profile__name {
          color: $gray-100;
        }
      }
    }
    &__name {
      font-size: 14px;
      line-height: 17px;
      transition: color 0.3s;
      will-change: color;
      &-blue {
        color: $blue-100;
        margin-left: 8px;
      }
    }
  }
}

@media screen and (max-width: 1232px) {
  .header {
    display: none;
    &__geo {
      &__current {
        span {
          color: $blue-100;
        }
      }
    }
  }
}