.menu {
  padding: 24px 0;
  margin-top: -24px;
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &__item {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    transition: color 0.3s;
    will-change: color;
    &:hover {
      color: $blue-100;
    }
  }
}

@media screen and (max-width: 1232px) {
  .menu {
    display: none;
  }
}