.menu__mobile {
  display: none;
  height: 48px;
  width: 100%;
  position: fixed;
  z-index: 2000;
  bottom: 0;
  left: 0;
  background-color: $white;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__add {
    height: 32px;
    width: 32px;
    background: linear-gradient(270deg, #ff5d12 11.46%, #1d5bfb 88.54%);
    transform: rotate(-90deg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
  }
  &__amount {
    position: relative;
    span {
      width: 10px;
      height: 10px;
      position: absolute;
      background-color: $red-400;
      border-radius: 50%;
      bottom: 6px;
      right: 2.5px;
      font-size: 8px;
      line-height: 14px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1232px) {
  .menu__mobile {
    display: block;
  }
}