.product {
  margin-top: 26px;
  padding-bottom: 16px;
  &__wrapper {
    display: grid;
    gap: 16px;
    grid-template-columns: 786px 398px;
  }
  &__title {
    line-height: 24px;
  }
  &__content {
    max-width: 786px;
    width: 100%;
  }
  &__description {
    display: none;
    margin-top: 24px;
  }
  &__sidebar {
    max-width: 398px;
    width: 100%;
  }
  &__sliders {
    background-color: $white;
    padding: 16px;
    border-radius: 6px;
    margin-top: 12px;
  }
  &__slider {
    .swiper-slide-active {
      display: flex;
      justify-content: center;
    }
  }
  &__slider-mini {
    .swiper-slide {
      max-width: 140px;
      max-height: 140px;
      cursor: pointer;
    }
  }
  &__favorites {
    font-size: 12px;
    line-height: 24px;
    color: $blue-100;
    padding: 2px 16px;
    border: 1px solid $blue-100;
    border-radius: 6px;
    margin-top: 12px;
    display: inline-block;
    transition: border-color 0.3s, color 0.3s;
    will-change: border-color, color;
    &:hover {
      border-color: $blue-hover;
      color: $blue-hover;
    }
  }
  &__block {
    margin-top: 16px;
    position: relative;
    background: $white;
    border-radius: 6px;
    padding: 24px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    h3 {
      font-size: 28px;
      line-height: 42px;
      font-weight: 600;
    }
    table {
      max-width: 360px;
      width: 100%;
      tbody {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        tr {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          td {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
  &__price {
    margin-bottom: 54px;
    font-size: 32px;
    line-height: 24px;
    font-weight: 600;
  }
  .leaflet-right {
    display: none;
  }
}

@media screen and (max-width: 1232px) {
  .page-product {
    .search {
      display: none;
    }
    .breadcrumbs {
      display: none;
    }
    .recommendations {
      padding-bottom: 0;
      .page__title {
        display: block;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
  .product {
    padding: 0;
    margin-top: 0;
    &__wrapper {
      display: block;
    }
    &__block {
      padding: 0;
      margin-top: 24px;
      gap: 16px;
      h3 {
        font-size: 20px;
        line-height: 30px;
      }
    }
    &__title {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
    }
    &__price {
      margin-bottom: 0;
      margin-top: 8px;
      font-size: 20px;
      line-height: 30px;
    }
    &__description {
      display: block;
    }
    .card__favorite {
      padding: 10px;
    }
    .mobile__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__favorites {
      display: none;
    }
    &__content {
      max-width: inherit;
      width: auto;
    }
    &__sidebar {
      display: none;
    }
    &__sliders {
      padding: 0;
      margin-top: 0;
    }
    &__slider {
      max-width: 358px;
      max-height: 342px;
      .swiper-slide {
        max-width: 358px;
        max-height: 342px;
      }
      &-mini {
        display: none;
      }
    }
  }
}