.product {
  &__map {
    padding: 16px;
    #map {
      width: 100%;
      height: 414px;
      border-radius: 6px;
    }
    .leaflet-top,
    .leaflet-right {
      display: none;
    }
    .leaflet-control-zoom {
      visibility: hidden;
    }
    &__hide {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      span {
        font-size: 16px;
        line-height: 24px;
        color: $blue-100;
        transition: color 0.3s;
        will-change: color;
      }
      img {
        transition: transform 0.3s;
        will-change: transform;
      }
      &.active {
        img {
          transform: rotate(-180deg);
        }
      }
      &:hover {
        span {
          color: $blue-hover;
        }
      }
    }
    address {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 4px;
      span {
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        display: inline-block;
        z-index: 2;
        position: relative;
      }
    }
  }
}

@media screen and (max-width: 1232px) {
  .product {
    &__map {
      padding: 0;
      address {
        align-items: flex-start;
        gap: 8px;
      }
      &__text {
        color: $blue-100;
      }
      &__icon {
        path {
          fill: $blue-100;
        }
      }
      #map {
        display: none;
      }
      &__hide {
        display: none;
      }
    }
  }
}