.profile {
  &__button {
    padding: 5px 60.5px;
    border: 1px solid $blue-100;
    color: $blue-100;
    will-change: color, border-color, background-color;
    transition: color 0.3s, border-color 0.3s, background-color 0.3s;
    font-size: 20px;
    line-height: 30px;
    border-radius: 6px;
    &:hover {
      border-color: $blue-hover;
      color: $blue-hover;
    }
    &-blue {
      background-color: $blue-100;
      color: $white;
      &:hover {
        border-color: $blue-hover;
        background-color: $blue-hover;
        color: $white;
      }
    }
  }
}

@media screen and (max-width: 1232px) {
  .profile {
    &__button {
      display: none;
      width: 100%;
      font-size: 16px;
      padding: 8px;
      line-height: 24px;
      &-blue {
        display: block;
      }
    }
  }
}