.profile {
  &__states {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    border-radius: 6px;
    padding: 8px;
    &__inner {
      display: flex;
      align-items: center;
    }
  }
  &__state {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    font-size: 20px;
    line-height: 30px;
    color: $gray-100;
    p {
      margin-right: 8px;
      will-change: color;
      transition: color 0.3s;
    }
    &.active {
      p {
        color: $blue-100;
      }
    }
    &:hover {
      p {
        color: $blue-100;
      }
    }
  }
}

@media screen and (max-width: 1232px) {
  .messages {
    .profile {
      &__states {
        &__inner {
          padding: 0;
          margin-bottom: 16px;
        }
        .sorting {
          position: absolute;
          top: 14px;
          right: 0;
          flex-direction: column;
          align-items: flex-start;
          padding: 0;
          &__filter {
            border: none;
          }
        }
      }
    }
  }
  .page-my-post {
    .profile {
      &__states {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        &__inner {
          padding: 0;
          margin-bottom: 16px;
        }
        .sorting {
          padding: 0;
        }
      }
    }
  }
  .profile {
    &__state {
      font-size: 16px;
      line-height: 24px;
      &.active {
        border-bottom: 1px solid $blue-100;
      }
    }
  }
}