.rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  &__amount {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &__number {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: -2px;
  }
  &__stars {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  &__star {
    height: 24px;
    width: 24px;
    &-disabled {
      transform: scale(1.15);
      height: auto;
    }
  }
  &__reviews {
    margin-bottom: -2px;
    font-size: 14px;
    line-height: 17px;
    color: $blue-100;
    transition: color 0.3s;
    will-change: color;
    &:hover {
      color: $blue-hover;
    }
  }
}

@media screen and (max-width: 1232px) {
  .rating {
    &__star {
      padding: 2px;
    }
  }
}