.search {
  z-index: 2550;
  position: relative;
  &__wrapper {
    background-color: $white;
    border-radius: 6px;
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    &.opened {
      border-radius: 6px 6px 0 0;
      .search__menu {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
  &__innercat {
    &.active {
      display: block;
    }
  }
  &__menu {
    padding: 8px 21px 8px 16px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 1px solid $blue-100;
    gap: 4px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s, boder-color 0.3s;
    will-change: color, border-color;
    &:hover {
      span {
        color: $blue-hover;
      }
      border-color: $blue-hover;
    }
    input {
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
    span {
      color: $blue-100;
      font-size: 16px;
      line-height: 24px;
      pointer-events: none;
      user-select: none;
      transition: color 0.3s;
      will-change: color;
    }
    img {
      transition: 0.3s;
      will-change: transform;
      pointer-events: none;
      user-select: none;
    }
  }
  &__geo {
    &-current {
      padding: 8px 12px;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: default;
    }
    span {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__form {
    display: flex;
    align-items: center;
    flex: 1;
    z-index: 2500;
    position: relative;
    &-default {
      .search__input input {
        border-radius: 6px;
        border-color: rgba(139, 139, 139, 0.4);
      }
    }
  }
  &__input {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
    input {
      height: 40px;
      border: 2px solid $blue-100;
      padding: 0 12px 0 52px;
      width: 100%;
      border-radius: 6px 0 0 6px;
      font-size: 14px;
      line-height: 17px;
      outline: none;
    }
  }
  &__cancel {
    display: none;
  }
  &__icon {
    position: absolute;
    left: 12px;
    &-mob {
      position: absolute;
      left: 12px;
      display: none;
    }
  }
  &__button {
    color: $white;
    padding: 8px 33.5px;
    border-radius: 0px 6px 6px 0;
    font-size: 16px;
    line-height: 24px;
    background-color: $blue-100;
    transition: background-color 0.3s;
    will-change: background-color;
    &:hover {
      background-color: $blue-hover;
    }
  }
  &__categories {
    height: calc(100vh - 308px);
    border-radius: 0 0 6px 6px;
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 90px;
    left: 0;
    &.active {
      display: block;
    }
  }
  &__title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: $black;
  }
  &__container {
    display: grid;
    grid-template-columns: 264px 1fr;
    gap: 40px;
    background-color: $white;
    padding: 24px;
    position: absolute;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: calc(100vh - 356px);
    overflow-y: auto;
    padding-right: 2px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    margin-top: 16px;
    max-height: calc(100vh - 408px);
    overflow-y: auto;
  }
  &__column {
    grid-column: span 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  &__category {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    gap: 12px;
    border-radius: 4px;
    transition: 0.3s;
    will-change: background-color;
    &.active {
      background-color: $blue-100;
      span {
        color: $white;
      }
      svg {
        path {
          stroke: $white;
        }
      }
      &:hover {
        span {
          color: $white;
        }
      }
    }
    &:hover {
      span {
        color: $blue-100;
      }
    }
    &__image {
      width: 32px;
      height: 32px;
    }
    span {
      font-size: 14px;
      line-height: 17px;
      transition: 0.3s;
      will-change: color;
    }
    svg {
      position: absolute;
      right: 9px;
      path {
        transition: 0.3s;
        will-change: stroke;
      }
    }
  }
  &__subcat {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
  }
  &__childcat {
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    line-height: 17px;
    color: $gray-300;
    &-hidden {
      display: none;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__more {
    margin-top: 8px;
    font-size: 12px;
    line-height: 14px;
    color: $blue-100;
  }
  &__results {
    background-color: $white;
    padding: 24px 24px 36px;
    border-radius: 0 0 6px 6px;
    position: absolute;
    top: 40px;
    width: 100%;
    display: none;
    z-index: 20;
    max-height: 356px;
    overflow-y: auto;
    &.active {
      display: block;
    }
    &-item {
      &:hover {
        .search__results__text,
        .search__results__titlte,
        .search__results__arrow {
          color: $blue-100;
        }
      }
    }
    &-main {
      display: flex;
      align-items: flex-start;
    }
    &-secondary {
      margin-top: 8px;
      display: flex;
      align-items: flex-start;
    }
    &__title {
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
      margin-right: 8px;
      transition: color 0.3s;
      will-change: color;
      &-blue {
        color: $blue-100;
      }
    }
    &__arrow {
      margin-top: 3px;
      margin-right: 8px;
      transition: color 0.3s;
      will-change: color;
    }
    &__text {
      font-size: 20px;
      line-height: 30px;
      transition: color 0.3s;
      will-change: color;
    }
  }
  &__settings {
    display: none;
    position: absolute;
    right: 12px;
  }
}

@media screen and (max-width: 1232px) {
  .search {
    z-index: 10000;
    &__button {
      display: none;
    }
    &__geo {
      display: none;
    }
    &__icon {
      &-mob {
        display: none;
      }
    }
    &__menu {
      display: none;
    }
    &__wrapper {
      background-color: transparent;
      padding: 16px 0 0 0;
    }
    &__input input {
      border-radius: 6px;
    }
    &__settings {
      display: block;
    }
    &__form {
      &.active {
        .search__cancel {
          display: block;
          margin-left: 13px;
          color: $blue-100;
        }
        .search__settings {
          display: none;
        }
      }
    }
    &__results {
      padding: 16px;
      &-item {
        flex-direction: column;
        margin-top: 16px;
        &:first-child {
          margin-top: 0;
        }
      }
      &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: $black-100;
      }
      &__text {
        font-size: 12px;
        line-height: 15px;
      }
      &__arrow {
        display: none;
      }
    }
  }
  .page-my-post,
  .page-messages {
    .sorting-blue .sorting__choose {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: 390px;
      width: 100%;
    }
  }
  .page-category {
    .search__wrapper {
      padding: 16px 0;
    }
  }
  .search-main {
    .search__results {
      top: -16px;
      max-width: 390px;
      border-radius: 0;
      width: calc(100% + 97px);
      margin: 0 -16px;
      padding-top: 72px;
      max-height: calc(100vh + 1px);
      height: calc(100vh + 1px);
      z-index: -1;
    }
  }
}