.signin {
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 390px;
  z-index: 10001;
  background-color: $white;
  display: none;
  &.active {
    display: block;
  }
  &__login {
    display: none;
    &__input {
      grid-column: span 2;
      input {
        border: 1px solid rgba(139, 139, 139, 0.4);
        border-radius: 4px;
        padding: 7.5px 8px;
        height: 32px;
      }
      &-half {
        grid-column: span 1;
        input {
          width: 156px;
        }
      }
    }
    &.active {
      display: block;
    }
    &__inputs {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      row-gap: 12px;
      column-gap: 24px;
      margin-bottom: 12px;
      .signin__mail {
        margin-bottom: 0;
      }
    }
  }
  .settings__button {
    margin-top: 0;
    &-white {
      padding: 8px 7.5px;
    }
    &-active {
      padding: 8px 17.5px;
    }
  }
  &__step {
    padding: 24px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    &.active {
      position: static;
      opacity: 1;
      z-index: 1;
      display: flex;
      flex-direction: column;
    }
    .settings__button-disabled {
      padding: 8px 21px;
    }
  }
  &__popup {
    padding: 24px;
    &__text {
      font-size: 20px;
      line-height: 30px;
      color: $gray-100;
      width: 233px;
      margin: 0 auto;
    }
    &__third {
      .settings__button-white {
        padding: 8px 25.5px;
      }
      .settings__button-active {
        padding: 8px 16px;
      }
    }
  }
  &__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    span {
      font-weight: 600;
    }
  }
  .settings__popup__title {
    margin-bottom: 28px;
  }
  &__mail {
    margin-bottom: 8px;
  }
  &__mail input:focus + .settings__input__icon {
    display: block;
  }
  &__mail input:focus {
    background: rgba(29, 91, 251, 0.1);
  }
  &__password {
    margin-top: 8px;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__label {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 4px 0;
    }
  }
  &__question {
    color: $blue-100;
    transition: color 0.3s;
    will-change: color;
    &:hover {
      color: $blue-hover;
    }
  }
  &__buttons {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__button {
    &-mobile {
      display: none;
    }
    &-pc {
      display: block;
    }
  }
  span.error-text {
    display: none;
  }
  &-error {
    span.error-text {
      display: block;
      font-size: 12px;
      line-height: 14px;
      color: $red-400;
      margin-top: 4px;
    }
    input {
      border-color: $red-400;
    }
  }
  .filter__checkbox:after {
    left: 3px;
    top: -2px;
  }
  &__subtitle {
    display: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $gray-300;
    margin-bottom: 8px;
  }
  &__logo {
    width: 202px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1232px) {
  .signin {
    top: 0;
    transform: translateX(-50%);
    border-radius: 0;
    &__button {
      &-mobile {
        display: block;
      }
      &-pc {
        display: none;
      }
    }
    &__subtitle {
      display: block;
    }
    &__mail {
      margin-top: 16px;
    }
    &__login {
      &__inputs {
        row-gap: 8px;
        margin-bottom: 64px;
      }
      &__input {
        &-half {
          grid-column: span 2;
          input {
            width: 100%;
          }
        }
      }
    }
    &__step {
      height: 100vh;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .active {
        display: flex;
      }
    }
    &__close {
      display: none;
    }
    .settings__close {
      position: static;
    }
    .mobile__header {
      height: 40px;
      position: absolute;
      left: 16px;
      top: 16px;
      display: flex;
      justify-content: center;
    }
    .header__logo {
      position: relative;
      max-width: 111px;
      left: inherit;
      transform: translate(50%);
    }
    .settings__popup__title {
      margin-bottom: 24px;
    }
    &__buttons {
      flex-direction: column-reverse;
      gap: 16px;
      margin-top: 36.5px;
    }
    .settings__button {
      width: 100%;
    }
    .settings__input__icon {
      top: 34px;
    }
    &__forgot {
      .signin__buttons {
        margin-top: 64px;
      }
    }
  }
}