.sorting {
  background-color: $white;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &__choose {
    position: absolute;
    border-radius: 6px;
    border: 1px solid $gray-200;
    background-color: $white;
    top: 55px;
    left: 8px;
    width: 126px;
    padding: 12px 0;
    display: none;
    z-index: 6;
    &.active {
      display: block;
    }
    &__item {
      font-size: 14px;
      line-height: 17px;
      width: 100%;
      text-align: left;
      padding: 8px 16px;
      cursor: pointer;
      transition: background-color 0.3s;
      &:hover {
        background-color: rgba(29, 91, 251, 0.1);
      }
      &.active {
        background-color: rgba(29, 91, 251, 0.1);
      }
    }
  }
  &__title {
    display: none;
  }
  &__filter {
    border: 1px solid $blue-100;
    display: flex;
    border-radius: 6px;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    position: relative;
    transition: border-color 0.3s;
    will-change: border-color;
    z-index: 2;
    &__arrow {
      display: block;
    }
    &__dots {
      display: none;
    }
    input {
      position: absolute;
      visibility: hidden;
      top: 0;
      left: 0;
    }
    span {
      color: $blue-100;
      font-size: 16px;
      line-height: 19px;
      transition: color 0.3s;
      will-change: color;
    }
    &:hover {
      border-color: $blue-hover;
      span {
        color: $blue-hover;
      }
    }
  }
  &__views {
    background-color: $background;
    display: flex;
    align-items: center;
    border-radius: 6px;
  }
  &__view {
    border: 1px solid transparent;
    transition: border-color 0.3s, background-color 0.3s;
    will-change: border-color, backgrond-color;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active {
      border-color: $blue-100;
      background-color: $blue-50;
    }
  }
  &-blue {
    .sorting__filter {
      gap: 8px;
      span {
        line-height: 24px;
      }
      img {
        will-change: transform;
        transition: transform 0.3s;
      }
      &.active {
        img {
          transform: rotate(180deg);
        }
      }
    }
    .sorting__choose {
      width: 202px;
      left: auto;
      right: 8px;
      &__item {
        padding: 11.5px 16px;
        transition: color 0.3s, background-color 0.3s;
        will-change: color, background-color;
        &:hover {
          color: $blue-100;
          background-color: rgba(29, 91, 251, 0.1);
        }
        &.active {
          color: $blue-100;
        }
      }
    }
  }
}

@media screen and (max-width: 1232px) {
  .messages {
    .sorting {
      &__filter {
        padding: 9px;
        &__arrow {
          display: none;
        }
        span {
          display: none;
        }
        &__dots {
          display: block;
        }
        input {
          width: 0;
        }
      }
    }
  }
  .sorting {
    &__title {
      display: block;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      font-weight: 600;
      padding-top: 8px;
      margin-bottom: 16px;
    }

    &__choose {
      z-index: 10001;
      position: fixed;
      width: 100%;
      top: auto;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 390px;
      border-radius: 8px 8px 0 0;
      &:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 8px;
        width: 24px;
        height: 2px;
        background-color: $gray-250;
        border-radius: 2px;
      }
    }
  }
}