.user {
  &__reviews {
    margin-top: 32px;
  }
  &__block {
    padding: 8px;
  }
}

.page-user {
  .card__description {
    display: none;
  }
}

@media screen and (max-width: 1232px) {
  .page-user {
    .search__settings {
      display: none;
    }
    .page__title {
      display: block;
      margin-top: 16px;
    }
    .profile {
      &__title {
        margin-bottom: 16px;
      }
      &__block {
        margin-top: 0;
        h2,
        p {
          display: none;
        }
      }
      &__sidebar {
        display: block;
        &__photo {
          height: 56px;
          width: 56px;
        }
        &__title {
          margin-bottom: 8px;
          margin-top: 0;
          font-size: 16px;
          line-height: 24px;
        }
        &__header {
          flex-direction: row;
          gap: 16px;
        }
        &__footer {
          flex-direction: row;
        }
        &__button {
          height: 40px;
          width: 175px;
          &-blue {
            font-size: 16px;
            order: 1;
          }
        }
        &__sticky {
          padding: 0;
        }
      }
    }
    .rating {
      gap: 8px;
      &__star {
        width: 22px;
      }
      &__stars {
        gap: 5px;
        margin-bottom: 3px;
      }
    }
    .user {
      &__block {
        padding: 0;
      }
    }
    .grid-categories__grid {
      margin-top: 16px;
    }
    .reviews {
      display: none;
    }
    .more__button {
      display: none;
    }
  }
}