extends ../layouts/master.pug

block title
  title Amico | Объявление

block basicSeo
  meta(content="Объявление" name="description")
  meta(content="Объявление" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main.page-product.hasMobMenu
    .page-container
      include ../components/search.pug
      include ../components/breadcrumbs.pug
      include ../components/product.pug
      include ../components/recommendations-small.pug
    include ../components/footer.pug
    include ../components/menu-mobile.pug