extends ../layouts/master.pug

block title
  title Amico | Отзывы

block basicSeo
  meta(content="Отзывы" name="description")
  meta(content="Отзывы" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main.page-reviews
    .page-container
      include ../components/menu.pug
      include ../components/reviews.pug
    include ../components/footer.pug