extends ../layouts/master.pug

block title
  title Amico | Объявления пользователя

block basicSeo
  meta(content="Объявления пользователя" name="description")
  meta(content="Объявления, пользователя" name="keywords")

block manifestBrowserconfigFiles
  link(href="../manifest.json" rel="manifest" crossorigin)
  meta(content="../browserconfig.xml" name="msapplication-config")

block content
  main.user-announcements
    .page-container
      include ../components/menu.pug
      include ../components/announcements.pug
    include ../components/footer.pug