mixin categories-item(href, className, name, src, alt)
  a.categories__item(href="" + href class="" + className)
    .categories__item__name= name
    img.categories__item__img(src="" + src alt="" + alt)