mixin search-innercat(id, title, isActive)
  .search__innercat(class="" + isActive data-id="" + id)
    .search__title= title
    .search__grid.custom-scroll
      .search__column
        .search__block
          h2.search__subcat
            a(href="#") Transport, transportation
          a.search__childcat(href="#") Car service
          a.search__childcat(href="#") Rent a car
          a.search__childcat(href="#") Commercial transportation
          a.search__childcat(href="#") Movers
          a.search__childcat(href="#") Moving
          a.search__childcat(href="#") Special equipment
        .search__block
          h2.search__subcat
            a(href="#") Business Services
          a.search__childcat(href="#") Accounting, finance
          a.search__childcat(href="#") Consulting
          a.search__childcat(href="#") Typesetting and text correction
          a.search__childcat(href="#") Translation
          a.search__childcat(href="#") Insurance
          a.search__childcat(href="#") Legal services
        .search__block
          h2.search__subcat
            a(href="#") Household services
          a.search__childcat(href="#") Production of keys
          a.search__childcat(href="#") Tailoring and repair of clothes
      .search__column
        .search__block
          h2.search__subcat
            a(href="#") Cleaning
          a.search__childcat(href="#") Garbage removal
          a.search__childcat(href="#") Spring-cleaning
          a.search__childcat(href="#") Ironing
          a.search__childcat(href="#") Movers
          a.search__childcat(href="#") Window cleaning
          a.search__childcat.search__childcat-hidden(href="#") One more item
          a.search__childcat.search__childcat-hidden(href="#") One more item
          a.search__childcat.search__childcat-hidden(href="#") One more item
          a.search__childcat.search__childcat-hidden(href="#") One more item
          button.search__more(type="button") 4 more
        .search__block
          h2.search__subcat
            a(href="#") Training, courses
          a.search__childcat(href="#") School and university subjects
          a.search__childcat(href="#") Foreign languages
          a.search__childcat(href="#") Driving
          a.search__childcat(href="#") Music, theater
          a.search__childcat(href="#") Sports, dancing
          a.search__childcat.search__childcat-hidden(href="#") One more item
          a.search__childcat.search__childcat-hidden(href="#") One more item
          a.search__childcat.search__childcat-hidden(href="#") One more item
          a.search__childcat.search__childcat-hidden(href="#") One more item
          button.search__more(type="button") 4 more
        .search__block
          h2.search__subcat
            a(href="#") Transport, transportation
          a.search__childcat(href="#") Car service
          a.search__childcat(href="#") Rent a car
          a.search__childcat(href="#") Commercial transportation
      .search__column
        .search__block
          h2.search__subcat
            a(href="#") Garden, landscaping
          a.search__childcat(href="#") Wells
          a.search__childcat(href="#") Ponds and fountains
          a.search__childcat(href="#") Road construction
          a.search__childcat(href="#") Fences, railings, awnings
          a.search__childcat(href="#") Excavation
          a.search__childcat.search__childcat-hidden(href="#") One more item
          a.search__childcat.search__childcat-hidden(href="#") One more item
          a.search__childcat.search__childcat-hidden(href="#") One more item
          button.search__more(type="button") 3 more
        .search__block
          h2.search__subcat
            a(href="#") Equipment repair
          a.search__childcat(href="#") TVs
          a.search__childcat(href="#") Mobile devices
          a.search__childcat(href="#") Small household appliances
          a.search__childcat(href="#") Photo, audio, video equipment
          a.search__childcat(href="#") Computer technology
          a.search__childcat(href="#") Gaming consoles
          a.search__childcat(href="#") Large home appliances
        .search__block
          h2.search__subcat
            a(href="#") IT, internet, telecom
          a.search__childcat(href="#") Creation and promotion of sites
      .search__column
        .search__block
          h2.search__subcat
            a(href="#") Beauty, health
          a.search__childcat(href="#") Hairdresser services
          a.search__childcat(href="#") Mani Pedi
          a.search__childcat(href="#") Makeup
          a.search__childcat(href="#") Cosmetology, hair removal
          a.search__childcat(href="#") SPA services, health
          a.search__childcat.search__childcat-hidden(href="#") One more item
          a.search__childcat.search__childcat-hidden(href="#") One more item
          button.search__more(type="button") 2 more
        .search__block
          h2.search__subcat
            a(href="#") Equipment installation
        .search__block
          h2.search__subcat
            a(href="#") Equipment, production
          a.search__childcat(href="#") Equipment rent
          a.search__childcat(href="#") Installation and maintenance of equipment
          a.search__childcat(href="#") Production, processing
        .search__block
          h2.search__subcat
            a(href="#") Master for an hour
        .search__block
          h2.search__subcat
            a(href="#") Food and grocery delivery
        .search__block
          h2.search__subcat
            a(href="#") Advertising, printing
          a.search__childcat(href="#") Marketing, advertising, PR
          a.search__childcat(href="#") Printing, design