.card {
  border-radius: 6px;
  background-color: $white;
  padding: 16px;
  position: relative;
  &-label {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    width: 100%;
  }
  label {
    width: 100%;
    &.selectable {
      & .card__inner {
        background: rgba(120, 136, 169, 0.3);
        &:before {
          opacity: 1;
        }
      }
    }
    .card__inner {
      padding: 24px;
      background-color: $white;
      position: relative;
      border-radius: 6px;
    }
    input {
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      left: 0;
      visibility: hidden;
      &:checked {
        & ~ .card__inner {
          background-color: $white-50;
          &:before {
            opacity: 1;
            border-color: $blue-100;
          }
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
  &__inner {
    display: flex;
    gap: 12px;
    width: 100%;
    position: relative;
    transition: background-color 0.3s;
    will-change: background-color;
    &:before {
      content: "";
      position: absolute;
      background-color: $white;
      left: 24px;
      top: 24px;
      width: 16px;
      opacity: 0;
      height: 16px;
      border: 1px solid $gray-100;
      border-radius: 2px;
      transition: opacity 0.3s;
      will-change: opacity;
      z-index: 5;
    }
    &:after {
      content: url("/assets/images/icons/check-blue.svg");
      position: absolute;
      left: 27px;
      top: 18px;
      width: 8px;
      height: 5px;
      opacity: 0;
      transition: 0.3s;
      will-change: opacity;
      z-index: 6;
    }
  }
  &__img {
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    object-fit: contain;
    object-position: top;
    min-height: 254px;
    min-width: 254px;
    max-height: 254px;
    max-width: 254px;
    display: block;
    height: 100%;
    position: relative;
    img {
      transition: transform 0.3s;
      width: 100%;
      height: 100%;
      will-change: transform;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 2;
  }
  &__status {
    border-radius: 29px;
    padding: 6.5px 10px 7.5px;
    display: flex;
    align-items: center;
    &-active {
      background-color: $green-50;
      color: $green-100;
    }
    &-disabled {
      background-color: rgba(139, 139, 139, 0.4);
      color: $gray-100;
    }
    span {
      font-size: 12px;
      line-height: 14px;
    }
  }
  &__likes {
    display: flex;
    align-items: center;
    gap: 8px;
    span {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__views {
    display: flex;
    align-items: center;
    gap: 8px;
    span {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__target {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: 1px solid $blue-100;
    gap: 8px;
    transition: border-color 0.3s;
    will-change: border-color;
    span {
      font-size: 16px;
      line-height: 24px;
      color: $blue-100;
      transition: color 0.3s;
      will-change: color;
    }
    &:hover {
      border-color: $blue-hover;
      span {
        color: $blue-hover;
      }
    }
  }
  &__options {
    cursor: pointer;
    padding: 10px;
    &.sorting {
      background-color: transparent;
    }
    .sorting {
      padding: 0;
      &__filter {
        padding: 0;
        border: none;
        span {
          color: $black-100;
        }
      }
      &__choose {
        left: auto;
        right: 0;
        width: 300px;
        top: 36px;
        &__item {
          display: flex;
          align-items: center;
          img {
            margin-right: 8px;
          }
          p {
            will-change: color;
            transition: color 0.3s;
          }
          &:hover {
            p {
              color: $blue-100;
            }
          }
        }
      }
    }
  }
  &__content {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }
  &__header {
    font-size: 20px;
    line-height: 24px;
  }
  &__title {
    font-weight: 500;
    color: $blue-100;
    transition: color 0.3s;
    will-change: color;
    &:hover {
      color: $blue-hover;
    }
  }
  &__description {
    padding-top: 14.5px;
    font-size: 14px;
    line-height: 17px;
    color: $gray-100;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__price {
    font-weight: 500;
    margin-top: 8px;
  }
  &__footer {
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
    color: $gray-100;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__geo {
    padding-left: 12px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: $green-100;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    span {
      color: $green-100;
    }
  }
  &__user {
    display: none;
    gap: 12px;
    &__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
    &__status {
      font-size: 14px;
      line-height: 17px;
    }
    &__count {
      font-size: 14px;
      line-height: 17px;
    }
  }
  &__favorite {
    cursor: pointer;
    svg {
      path {
        transition: fill 0.3s;
        will-change: fill;
      }
      &:hover {
        path {
          fill: $blue-hover;
          stroke: $blue-hover;
        }
      }
    }
  }
  .active {
    svg {
      path {
        fill: $blue-hover;
        stroke: $blue-hover;
      }
    }
  }
}

@media screen and (max-width: 1232px) {
  .card {
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 2px 27px rgba(180, 180, 180, 0.25);
    label {
      .card__inner {
        padding: 8px;
      }
      &.selectable .card__inner {
        background-color: transparent;
      }
    }
    &__inner {
      &:before,
      &:after {
        display: none;
      }
    }

    &__img {
      min-width: 159px;
      min-height: 159px;
      border-radius: 16px;
      max-width: 159px;
      max-height: 159px;
    }
    &__content {
      margin-top: 8px;
    }
    &__header {
      font-size: 14px;
      line-height: 17px;
    }
    &__price {
      margin-top: 4px;
    }
    &__footer {
      margin-top: 8px;
      font-size: 10px;
      line-height: 12px;
      gap: 4px;
    }
    &__favorite {
      svg {
        width: 20px;
        height: 20px;
      }
    }
    &__info {
      bottom: 62px;
      right: auto;
      top: auto;
      left: 185px;
    }
    &__target {
      display: none;
    }
  }
  .page-my-post,
  .page-messages {
    .card {
      &__options {
        display: none;
      }
      &__likes,
      &__status,
      &__views {
        span {
          font-size: 10px;
          line-height: 15px;
        }
        img {
          width: 13px;
        }
      }
      &__status {
        padding: 1px 5px;
      }
    }
  }
}