.categories__item {
  background-color: $blue-200;
  border-radius: 6px;
  height: 124px;
  padding: 4px 16px 4px 10px;
  height: 124px;
  max-width: 124px;
  width: 100%;
  &-large {
    max-width: 200px;
    padding: 4px 4px 4px 10px;
  }
  &__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $white;
  }
  &__img {
    transition: transform 0.3s;
    will-change: transform;
  }
  &:hover {
    .categories__item__img {
      transform: scale(0.9);
    }
  }
}

@media screen and (max-width: 1232px) {
  .categories__item {
    height: 86px;
    max-width: 85px;
    min-height: 73px;
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 0;
    &-large {
      max-width: 85px;
      min-width: 85px;
      padding: 0;
    }
    &__name {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      color: $black-100;
      margin: 0 auto;
    }
    &__img {
      min-height: 73px;
      object-fit: contain;
      min-width: 73px;
    }
  }
}