.message {
  border-radius: 6px;
  background-color: $white;
  position: relative;
  &-label {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    width: 100%;
  }
  label {
    width: 100%;
    &.selectable {
      & .message__inner {
        background: rgba(120, 136, 169, 0.3);
        &:before {
          opacity: 1;
        }
      }
    }
    .message__inner {
      background-color: $white;
      position: relative;
      border-radius: 6px;
      padding: 16px;
    }
    input {
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      left: 0;
      visibility: hidden;
      &:checked {
        & ~ .message__inner {
          background-color: $white-50;
          &:before {
            opacity: 1;
            border-color: $blue-100;
          }
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }
  &__inner {
    display: flex;
    gap: 12px;
    width: 100%;
    position: relative;
    transition: background-color 0.3s;
    will-change: background-color;
    &:before {
      content: "";
      position: absolute;
      background-color: $white;
      left: 16px;
      top: 16px;
      width: 16px;
      opacity: 0;
      height: 16px;
      border: 1px solid $gray-100;
      border-radius: 2px;
      transition: opacity 0.3s;
      will-change: opacity;
      z-index: 5;
    }
    &:after {
      content: url("/assets/images/icons/check-blue.svg");
      position: absolute;
      left: 19px;
      top: 10px;
      width: 8px;
      height: 5px;
      opacity: 0;
      transition: 0.3s;
      will-change: opacity;
      z-index: 6;
    }
  }
  &__img {
    position: relative;
    &__inner {
      overflow: hidden;
      margin: 8px 0 0 8px;
      border-radius: 6px;
      width: 100%;
      object-fit: contain;
      object-position: top;
      border: 1px solid $gray-100;
      min-height: 112px;
      min-width: 160px;
      max-height: 112px;
      max-width: 160px;
      display: block;
      height: 100%;
      position: relative;
    }
    img {
      transition: transform 0.3s;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      will-change: transform;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  &__author {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 1px solid $white;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $green-100;
  }
  &__options {
    cursor: pointer;
    padding: 10px;
    &.sorting {
      background-color: transparent;
    }
    .sorting {
      padding: 0;
      &__filter {
        padding: 0;
        border: none;
        span {
          color: $black-100;
        }
      }
      &__choose {
        left: auto;
        right: 0;
        width: 300px;
        top: 36px;
        &__item {
          display: flex;
          align-items: center;
          img {
            margin-right: 8px;
          }
          p {
            will-change: color;
            transition: color 0.3s;
          }
          &:hover {
            p {
              color: $blue-100;
            }
          }
        }
      }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    column-gap: 8px;
  }
  &__header {
    font-size: 20px;
    line-height: 24px;
  }
  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
  &__title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  &__createdAt {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $gray-100;
  }
  &__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  &__footer {
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
    color: $gray-100;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .active .message__inner {
    svg {
      path {
        fill: $blue-hover;
        stroke: $blue-hover;
      }
    }
  }
}

@media screen and (max-width: 1232px) {
  .message {
    &__inner {
      gap: 8px;
      padding: 8px;
      background: $white;
      box-shadow: 0px 2px 27px rgba(180, 180, 180, 0.25);
      border-radius: 8px;
      &:before,
      &:after {
        display: none;
      }
    }
    &__info {
      display: none;
    }
    &__row {
      gap: 8px;
      margin-bottom: 8px;
      justify-content: space-between;
      &:not(&:first-child) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &__content {
      flex: 1;
    }
    &__img {
      &__inner {
        border: none;
        margin: 0;
        min-width: 86px;
        max-width: 86px;
        min-height: 72px;
        max-height: 72px;
      }
    }
    &__author {
      width: 24px;
      height: 24px;
      left: 94px;
    }
    &__name {
      margin-left: 32px;
      font-size: 16px;
      line-height: 24px;
    }
    &__footer {
      margin-top: 0;
    }
    &__createdAt {
      font-size: 12px;
      line-height: 15px;
    }
    &__price {
      font-size: 14px;
      line-height: 17px;
    }
    label {
      input {
        &:checked {
          & ~ .message__inner {
            z-index: 10000;
            background-color: $white;
          }
        }
      }
      &.selectable .message__inner {
        background-color: $white;
      }
    }
  }
}