a.announcement__card(href="#")
  .announcement__card__left
    .announcement__card__photo
      img(src="/assets/images/announcement-photo.png" alt="announcement-photo")
  .announcement__card__right
    .announcement__card__header
      h3.announcement__card__title Infiniti fx35 (2005)
      .announcement__card__price 300 626 ฿
    .announcement__card__footer
      .announcement__card__adress 2686 สะพาน ยี่สิบสองกรกฎาคม 1 วิไลสักดิ์เหนือ, 38729
      .announcement__card__date 2 hours ago