.breadcrumbs
  .wrapper
    ul.breadcrumbs__list
      li
        a(href="#") Clothes
      span /
      li
        a(href="#") Men's Clothing
      span /
      li
        a(href="#") Outerwear
      span /
      li
        p Military