form.popup__delete(action="#")
  .settings__popup__title Are you sure you want to delete your profile?
  .settings__popup__buttons
    button.settings__button-back.settings__button.settings__button-delete(
      type="submit"
    ) Delete
    button.settings__button-back.settings__button.settings__button-white.popup__delete__close(
      type="button"
    ) Cancel