.delete-popup
  .delete-popup__title Are you sure you want to delete messages?
  .delete-popup__buttons
    button.delete-popup__button.delete-popup__button-close(type="button") Cancel
    button.delete-popup__button.delete-popup__button-delete(type="button") Delete