.errorPage
  .wrapper
    .mobile__header
      a(href="/")
        img.chat__header__icon(
          src="/assets/images/icons/arrow-left-blue.svg"
          alt="arrow-left-blue"
        )
      a.header__logo(href="/")
        img(src="/assets/images/logo.svg" alt="logo")
    .errorPage__wrapper
      .errorPage__block
        h1 404
        span page not found
        p The page you are trying to access does not exist or has been deleted. Go to <a href="/">Home Page</a>