footer.footer
  .footer__wrapper
    nav.footer__links
      a.footer__links(href="#") Place an ad
      a.footer__links(href="#") Ads
      a.footer__links(href="#") Categories
      a.footer__links(href="#") Registration
      a.footer__links(href="#") Data processing policy
    .footer__rights All Right Reserved.