nav.menu
  .wrapper
    .menu__wrapper
      a.menu__item(href="#") Property
      a.menu__item(href="#") Pets
      a.menu__item(href="#") Services
      a.menu__item(href="#") Car & Vehicles
      a.menu__item(href="#") Hobby
      a.menu__item(href="#") Browse all categories