include ../mixins/card.pug
section.recommendations
  .wrapper
    .recommendations__wrapper
      h2.page__title.recommendations__title Recommendations for you
      .recommendations__items
        +card('#', '/assets/images/recommendations/item-1.png','item-1', 'Flower in a pot', '700 ฿', '', 'Furniture', '<span>BangPhlat</span> 20 minutes', '12 hours ago')
        +card('#', '/assets/images/recommendations/item-2.png','item-2', 'Kitty', 'Free', '', 'Pets', '<span>Rattanakosin</span> 12 minutes', '1 day ago')
        +card('#', '/assets/images/recommendations/item-3.png','item-3', 'Infiniti fx35 (2005)', '300 626 ฿', '', 'Car & Vehicles', '<span>Chatuchak</span> 30 minutes', '1 hours ago')
        +card('#', '/assets/images/recommendations/item-4.png','item-4', 'Shoes', '900 ฿', '', 'Fashion', '<span>BangPhlat</span> 10 minutes', '3 days ago')
        +card('#', '/assets/images/recommendations/item-5.png','item-5', 'Comics collection', '11 000 ฿', '', 'Electronics', '<span>BangPhlat</span> 5 minutes', '2 days ago')
        +card('#', '/assets/images/recommendations/item-6.png','item-6', 'Workers Wanted', '15 000 ฿', '', 'Jobs', '<span>Rattanakosin</span> 15 minutes', '6 days ago')
        +card('#', '/assets/images/recommendations/item-7.png','item-7', 'Comics collection', '15 000 ฿', '', 'Collecting', '<span>BangPhlat</span> 5 minutes', '20 hours ago')
        +card('#', '/assets/images/recommendations/item-8.png','item-8', 'Villa', '3 200 000 ฿', '', 'Property', '<span>BangPhlat</span> 25 minutes', 'Week ago')
      include ./more-button.pug