.selected__category
  .selected__category__item New with tags
    img(src="/assets/images/icons/close.svg" alt="close")
  .selected__category__item Adidas
    img(src="/assets/images/icons/close.svg" alt="close")
  .selected__category__item 46 (S)
    img(src="/assets/images/icons/close.svg" alt="close")